In [2]:
%config IPCompleter.greedy=True

import pandas as pd
import numpy as np 

data_file = "purchase_data.csv"

# File to Load 
data_df = pd.read_csv(data_file)
data_df.columns #Index['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']
#data_df.head()
#create series for players
player_count_series = data_df[["SN"]]
unique_players = pd.DataFrame(data_df['SN'].unique())#unique players (576)
#subset for items/purchases, calculations from df subset

my_bins = [0, 10, 15, 20, 25, 30, 45]
my_labels = ["0-10" ,"11-15" , "16-20" ,"21-25" ,"26-30" ,"31-65"]
data_df['Age Groups'] = pd.cut(data_df['Age'], bins=my_bins, labels=my_labels)
bin_df = data_df['Age Groups'].value_counts()
bin_df = bin_df.sort_index()
display (bin_df)

unique_players_count = len(unique_players)
purchase_summary_df = data_df[["Purchase ID", "Item ID", "Price"]]
unique_items_df = purchase_summary_df["Item ID"].unique()
count_items = len(unique_items_df)
average_item_price = "{:.2f}".format(purchase_summary_df.Price.mean())
avg_price = (average_item_price)
purchase_count = len(purchase_summary_df["Purchase ID"])

print(f"average item price = {avg_price} \nnumber of unique players =  {unique_players_count} \n"
      f"number of unique items = {count_items}\nnumber of sales = {purchase_count}")

#create df without duplicate SN for Gender calc and calc vals
gender_df = pd.DataFrame.copy(data_df)
gender_df.drop_duplicates("SN", keep='first', inplace=True)
gender_count = gender_df.Gender.value_counts()#grab vals in a series 
gender_count #(484M / 81F/ 11 O)
male_percent = "{:.2f}".format((484/unique_players_count)*100)
female_percent = "{:.2f}".format((81/unique_players_count)*100)
other_percent = "{:.2f}".format((11/unique_players_count)*100)
print(f"male player percent = {male_percent}\nfemale player percent = {female_percent}\n" 
      f"other gender player percent = {other_percent}")

count_sales = len(data_df[["Purchase ID"]])
count_sales
average_sale = (data_df[["Price"]]).mean()

#Index['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

price_df= data_df [["Item ID", "Item Name", "Price"]]
price_group = price_df.groupby(["Item ID", "Item Name"]).count()["Price"]
total_purchase_vol =  price_df.groupby(["Item ID", "Item Name"]).sum()["Price"]
avg_pr =  price_df.groupby(["Item ID", "Item Name"]).mean()["Price"]

#display(price_group)
#display(total_purchase_vol)
#display(avg_pr)

popular_df = pd.DataFrame({"Purchase Counts":price_group})
popular_df = pd.DataFrame({"Purchase Counts":price_group, "Total Purchases":total_purchase_vol, "Item Price":avg_pr})
display(popular_df)
most_profitable_df = popular_df.sort_values("Total Purchases", ascending=False)
display(most_profitable_df)

#wip player big spenders
#most_spent_df = data_df.groupby(["SN"]).count()["Price"]
#total_spent_df=  data_df.groupby(["SN"]).sum()["Price"]
#avg_spent_df =  data_df.groupby(["SN"]).mean()["Price"]

#display(most_profitable_df)
#display(total_spent_df)
#display(avg_spent_df)

results_spent_df = popular_df.sort_values("Total Purchases", ascending=False)

0-10      32
11-15     54
16-20    200
21-25    325
26-30     77
31-65     92
Name: Age Groups, dtype: int64

average item price = 3.05
number of unique players =  576
number of unique items = 179
number of sales = 780
male player percent = 84.03
female player percent = 14.06
other gender player percent = 1.91

,,Purchase Counts,Total Purchases,Item Price
Item ID,Item Name,,,
0,Splinter,4,5.12,1.2800
1,Crucifer,4,11.77,2.9425
2,Verdict,6,14.88,2.4800
3,Phantomlight,6,14.94,2.4900
4,Bloodlord's Fetish,5,8.50,1.7000
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,4.2300
179,"Wolf, Promise of the Moonwalker",6,26.88,4.4800
181,Reaper's Toll,5,8.30,1.6600
182,Toothpick,3,12.09,4.0300
183,Dragon's Greatsword,3,3.27,1.0900

,,Purchase Counts,Total Purchases,Item Price
Item ID,Item Name,,,
92,Final Critic,13,59.99,4.614615
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,4.230000
82,Nirvana,9,44.10,4.900000
145,Fiery Glass Crusader,9,41.22,4.580000
103,Singed Scalpel,8,34.80,4.350000
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,2.12,1.060000
125,Whistling Mithril Warblade,2,2.00,1.000000
126,Exiled Mithril Longsword,1,2.00,2.000000
104,Gladiator's Glaive,1,1.93,1.930000
42,The Decapitator,1,1.75,1.750000